.env
.ipynb_checkpoints
Building_Systems_with_the_ChatGPT_API/.ipynb_checkpoints
Building_Systems_with_the_ChatGPT_API/myenv
LangChain_Chat_Data/.ipynb_checkpoints
LangChain_Chat_Data/myenv
LangChain_LLM/.ipynb_checkpoints
LangChain_LLM/myenv
Embedding_Models_from_Architecture_to_Implementation/.ipynb_checkpoints
Embedding_Models_from_Architecture_to_Implementation/myenv
Open_Source_Models_With_Hugging_Face/myenv
Open_Source_Models_With_Hugging_Face/.ipynb_checkpoints
Understanding_and_Applying_Text_Embeddings/.ipynb_checkpoints
Understanding_and_Applying_Text_Embeddings/myenv
Quantization_Fundamentals_With_Hugging_Face/myenv
Quantization_Fundamentals_With_Hugging_Face/.ipynb_checkpoints

