.env
.ipynb_checkpoints
EM_Embedding_Models_from_Architecture_to_Implementation/myenv
EM_Embedding_Models_from_Architecture_to_Implementation/.ipynb_checkpoints
EM_Understanding_and_Applying_Text_Embeddings/myenv
EM_Understanding_and_Applying_Text_Embeddings/.ipynb_checkpoints
HF_Building_Generative_AI_Applications_with_Gradio/myenv
HF_Building_Generative_AI_Applications_with_Gradio/.ipynb_checkpoints
HF_Quantization_Fundamentals_With_Hugging_Face/myenv
HF_Quantization_Fundamentals_With_Hugging_Face/.ipynb_checkpoints
LLM_Building_Systems_with_the_ChatGPT_API/myenv
LLM_Building_Systems_with_the_ChatGPT_API/.ipynb_checkpoints
LLM_Functions_Tools_and_Agents_with_LangChain/myenv
LLM_Functions_Tools_and_Agents_with_LangChain/.ipynb_checkpoints
LLM_LangChain_Chat_Data/myenv
LLM_LangChain_Chat_Data/.ipynb_checkpoints
LLM_LangChain_LLM/myenv
LLM_LangChain_LLM/.ipynb_checkpoints
LLM_AI_Agents_in_LangGraph/.ipynb_checkpoints
LLM_AI_Agentic_Design_Patterns_with_AutoGen/.ipynb_checkpoints
LLM_Reinforcement_Learning_From_Human_Feedback/.ipynb_checkpoints
